body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(image.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 100vh;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 800px;      
    box-sizing: border-box;
    
    /*background: rgba(255, 255, 255, 0.2);   
    backdrop-filter: blur(12px);            
    -webkit-backdrop-filter: blur(12px);*/

    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 10px;
}

#count-el{
    margin-top: 10px;
    font-size: xx-large;
}

#increment-btn{
    background-color: palevioletred;
}

#save-btn{
    background-color: green;
}

#increment-btn,
#save-btn{
    border-radius: 10px;
    border: 2px solid black;
    width: 35%;
    min-width: 120px;

    font-size: 1rem;
    font-weight: 700;

    margin: 10px 0;
    padding: 12px 0;

}

@media (min-width: 700px){
    .button-group{
        flex-direction: row;     
        justify-content: center;
        gap: 15px;
    }
}
